@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Ubuntu&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
    font-family: Heebo, sans-serif;
    font-weight: 200;
    color: #333436;
}

/* header and logo */


h1, h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #222325;
}

#logo {
   float: left;
   font-size: 250%;
   padding-left: 4px;
   margin-left: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 5px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #333436;
}

/* header image */

#head-image-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#head-image {
    height: 500px;
    width: 100%px;
    background: url('../images/breastfeeding-ga5d51c5f4_1280.jpg') no-repeat center center;
}

