@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Ubuntu&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}



body {
    font-family: Heebo, sans-serif;
    font-weight: 200;
    color: #453823;
}

/* header and logo */

#header {
    height: 100px;
    background-color: rgba(192, 161, 114, 0.5);
    margin: 80px;
}


h1, h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #2C2416;
}

#logo {
   float: left;
   font-size: 250%;
   padding-left: 4px;
   margin-left: 20px;
   line-height: 60px;
}

#menu {
    font-size: 110%;
    letter-spacing: 5px;
    float: right;
    color: #2C2416;
    line-height: 150px;
}


#menu li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

#menu a {
    text-decoration: none;
    color:#2C2416;
}


/* header image */

#head-image-outer {
    height: 500px;
    margin: 80px;
    overflow: hidden;
    

    position: relative;
}

#head-image {
    height: 500px;
    width: 100%;
    background: url('../images/breastfeeding.jpg') no-repeat center center;
}

/* About Me */


.about-me-grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 5px;
    grid-row-gap: 5px; 

    background-color: rgba(192, 161, 114, 0.5);

    font-family: Heebo, sans-serif;
    line-height: 30px;
    align-content: center;

    padding: 15px;
    margin: 80px;
    } 

hr {
    border-bottom: 1px solid #2C2416;
    width: 100%;
    margin: 5px;
}

#about-me h1 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 5px;
    font-size: 275%;
    color: #2C2416;
    text-align: center;

    padding: 2px;
    margin: 2px;
}

#about-me-left {
    grid-area: 1 / 1 / 2 / 2; 
    padding: 20px;
}

#circle-container {
    height: 275px;
    width: 275px;
    padding: 20px;
    border: 1px dotted #2C2416;
    border-radius: 50%;
    margin-left: 25px;
}

#circle-image {
   height: 100%;
   width: 100%;
   border-radius: 50%;
   background-color: pink;
   background: url('../images/claire-ferris.jpeg') no-repeat center center;
}

#about-me-right {
    grid-area: 1 / 2 / 2 / 3;
    padding: 20px;
    margin-right: 10px;
    line-height: 30px;
    clear: right;
    text-align: justify;
    
} 

#about-me-right h2 {
    font-family: Ubuntu, sans-serif;
    color: #2C2416;
    line-height: 30px;
} 

/* Services */

.services-grid { 
    display: grid; 
    grid-template-columns: repeat(2, 5fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-column-gap: 5px;
    grid-row-gap: 5px; 

    background-color: rgba(192, 161, 114, 0.5);

    font-family: Heebo, sans-serif;
    line-height: 30px;
    align-content: center;

    padding: 15px;
    margin: 80px;
    }

#services h1 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 5px;
    font-size: 275%;
    color: #2C2416;
    text-align: center;

    padding: 5px;
    margin: 15px;
}

#services h2 {
    text-transform: uppercase;
    color: #2C2416;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
    padding-top: 10%;
}

#services hr {
    border-bottom: 1px solid #2C2416;
    width: 90%;
    margin: 5px;
 }

#services p {
    text-align: justify;
    line-height: 30px;
    padding: 20px 20px 0 0;
}

.service-img {
    padding-left: 60px;
}

#online-prep {
    grid-area: 1 / 1 / 2 / 2;
}

    /* Contact */

    #contact {
        height: 500px;
        background-color: rgba(192, 161, 114, 0.5);
        margin: 80px;
    }

    #contact h1 {
        font-family: Ubuntu, sans-serif;
        letter-spacing: 5px;
        font-size: 275%;
        color: #2C2416;
        text-align: center;

        padding: 5px;
        margin: 15px;
    }

    /* Footer */

    /* Media Queries*/

    /* Large - medium screens 1200px wide and dowb */

  /*@media screen and (max-width: 1200px) {
    #about-me {
        height: 500px;
        margin: 20px;
  }
  }*/