@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Ubuntu&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}



body {
    font-family: Heebo, sans-serif;
    font-weight: 200;
    color: #5b3e31;
}

/* header and logo */

#header {
    height: 100px;
    background-color: rgba(91, 62, 49, 0.1);
    margin: 80px;
}


h1, h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #3d251e;
}

#logo {
   float: left;
   font-size: 250%;
   padding-left: 4px;
   margin-left: 20px;
   line-height: 60px;
}

#menu {
    font-size: 110%;
    letter-spacing: 5px;
    float: right;
    color: #3d251e;
    line-height: 150px;
}


#menu li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
}

#menu a {
    text-decoration: none;
    color:#3d251e;
}


/* header image */

#head-image-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    

    position: relative;
}

#head-image {
    height: 500px;
    width: 100%;
    background: url('../images/breastfeeding-ga5d51c5f4_1280.jpg') no-repeat center center;
}

/* About Me */


#about-me {
    height: 500px;
    background-color: rgba(91, 62, 49, 0.5);
    margin: 80px;
}

hr {
    border-bottom: 1px solid #3d251e;
    width: 60%;
    margin: 5px;
}

#about-me h1 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 5px;
    font-size: 275%;
    color: #3d251e;
    text-align: center;

    padding: 5px;
    margin: 15px;
}

#left-about {
    padding-top: 20px;
    width: 35%;
    float: left;
}

#circle-container {
    height: 275px;
    width: 275px;
    padding: 20px;
    border: 1px dotted #3d251e;
    border-radius: 50%;
    float: left;
    margin-left: 100px;
}

#circle-image {
   height: 100%;
   width: 100%;
   border-radius: 50%;
   background-color: pink;
   background: url('../images/Claire-Ferris.jpeg') no-repeat center center;
}

#right-about {
    padding: 20px;
    margin-right: 60px;
    width: 55%;
    float: right;
    line-height: 30px;
    clear: right;
    text-align: justify;
    
}

#right-about h2 {
    font-family: Ubuntu, sans-serif;
    color: #3d251e;
    line-height: 30px;
}

/* Services */

#services {
    height: 900px;
    background-color: rgba(125, 99, 85, 0.4);
    margin: 80px;
}

#services h1 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 5px;
    font-size: 275%;
    color: #3d251e;
    text-align: center;

    padding: 5px;
    margin: 15px;
}

#services h3 {
    text-transform: uppercase;
    color: #3d251e;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
}

 #services hr {
    border-bottom: 1px solid #3d251e;
    width: 80%;
    margin: 5px;
 }

#services p {
    text-align: justify;
    line-height: 30px;

}

.services-grid { 
    display: grid; 
    grid-template-columns: repeat(2, 5fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 5px; 

    font-family: Heebo, sans-serif;
    line-height: 30px;

    padding: 20px;
    }

    #prep-online-img {
        background-image: url('../images/timothy-meinberg-NFH6LovuJso-unsplash.jpg');
        height: 200x;
    }

    /* Contact */

    #contact {
        height: 500px;
        background-color: rgba(91, 62, 49, 0.5);
        margin: 80px;
    }

    #contact h1 {
        font-family: Ubuntu, sans-serif;
        letter-spacing: 5px;
        font-size: 275%;
        color: #3d251e;
        text-align: center;

        padding: 5px;
        margin: 15px;
    }


